@charset "UTF-8";
html {
  margin: 0;
  padding: 0;
}

img {
  border: none;
}

hr {
  margin: 0;
}

.line {
  margin: 0;
  padding: 0;
}

.inlineimage {
  margin: 0;
  max-width: none;
  max-height: none;
  -webkit-box-shadow: none;
}

.avatar {
  max-width: none;
  max-height: none;
  margin-right: 0;
  vertical-align: top;
}

body {
  margin: 0;
  padding: 1em;
  background-color: white;
  color: #505050;
  font-size: 13px;
  font-family: "Helvetica", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
  line-height: 1.4;
}

a {
  color: inherit;
}

hr {
  height: 1px;
  margin: 0.5em 2em;
  border: none;
  background-color: transparent;
  background-image: -webkit-radial-gradient(center, ellipse cover, #cccccc 0%, rgba(204, 204, 204, 0) 80%);
  background-image: radial-gradient(center, ellipse cover, #cccccc 0%, rgba(204, 204, 204, 0) 80%);
}

.line {
  overflow: hidden;
  position: relative;
}
.line:hover .time {
  visibility: visible;
}

.debug-log {
  display: none;
}

.normal.topic-enable {
  padding-top: 3.5em;
}
.normal.topic-enable #topic {
  display: block;
}

#topic {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  padding: 0.75em 0;
  border-bottom: 1px solid #dddddd;
  background-color: #eeeeee;
  color: #505050;
  line-height: 1.2em;
  font-weight: bold;
  text-align: center;
}
#topic .url {
  padding: 0 1em;
  color: #505050;
  text-decoration: none;
}
#topic .url:hover {
  text-decoration: underline;
}

.time {
  float: right;
  color: #8c8c8c;
  font-size: 12px;
  visibility: hidden;
}

.message {
  display: block;
}

.line.first {
  margin-top: 12px;
  padding-top: 13px;
}
.line.first:before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-image: -webkit-radial-gradient(center, ellipse cover, #cccccc 0%, rgba(204, 204, 204, 0) 80%);
  background-image: radial-gradient(center, ellipse cover, #cccccc 0%, rgba(204, 204, 204, 0) 80%);
  content: "";
}

.icon {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-right: 10px;
  margin-bottom: 8px;
  border: 1px solid #dddddd;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAABIBAMAAACnw650AAAAFVBMVEX///8AAADAwMCAgID/AADx7+KdnaFGcsumAAAAAXRSTlMAQObYZgAAAFxJREFUeF7t0bENwDAIBVFW8ApeISt4Ba+Q/UeISApEQZToKlv/JLpXILD9O+vmT2RlayChI4WQRb29IaExfDi6lRuMHmUAoZ34nfhbhHrEUEsRlFsCCc26j2j7LhSBcMNVtm00AAAAAElFTkSuQmCC');
  vertical-align: top;
}

.sender {
  display: inline-block;
  color: #333333;
  line-height: 1.2;
  font-size: 13px;
  vertical-align: top;
}
.sender:before {
  display: block;
  color: #323232;
  font-size: 18px;
  content: attr(data-screen-name);
}

.line.myself .sender {
  color: #70bb72;
}
.line.myself .sender:before {
  color: #007600;
}
.line.myself .message {
  color: #00960f;
}

.sender[type="myself"],
.sender[_type="myself"] {
  color: #70bb72;
}
.sender[type="myself"]:before,
.sender[_type="myself"]:before {
  color: #007600;
}

.sender[first="false"] {
  display: none;
}

.message {
  color: #5c5c5c;
}

.url {
  color: #6aa900;
}

.inlineimage {
  position: relative;
  max-height: 256px;
  border-radius: 8px;
}

.effect[color-number] {
  color: inherit;
  background-color: inherit;
  font-style: italic;
}

.event .message {
  display: inline;
}
