html {
  margin: 0;
  padding: 0;
}

img {
  border: none;
}

hr {
  margin: 0;
}

.line {
  margin: 0;
  padding: 0;
}

.inlineimage {
  margin: 0;
  max-width: none;
  max-height: none;
  -webkit-box-shadow: none;
}

.avatar {
  max-width: none;
  max-height: none;
  margin-right: 0;
  vertical-align: top;
}

body {
  margin: 0;
  padding: 1em;
  font-size: 13px;
  font-family: "Helvetica", sans-serif;
  line-height: 1.4;
}

a {
  color: inherit;
}

hr {
  height: 1px;
  margin: 0.5em 2em;
  border: none;
  background-color: transparent;
}

.line {
  overflow: hidden;
  position: relative;
}
.line:hover .time {
  visibility: visible;
}

.debug-log {
  display: none;
}

.normal.topic-enable {
  padding-top: 3.5em;
}
.normal.topic-enable #topic-bar {
  display: block;
}

#topic-bar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  padding: 0.75em 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  text-align: center;
}
#topic-bar p {
  overflow: hidden;
  margin: 0 0.5em;
  line-height: 1.2;
  font-family: "Lucida Grande", "AquaKana", sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#topic-bar .url {
  padding: 0 1em;
  text-decoration: none;
}
#topic-bar .url:hover {
  text-decoration: underline;
}

body {
  background-color: white;
  color: #505050;
}

hr,
.line.first:before {
  background-image: -webkit-radial-gradient(center, ellipse cover, #cccccc 0%, rgba(204, 204, 204, 0) 80%);
  background-image: radial-gradient(center, ellipse cover, #cccccc 0%, rgba(204, 204, 204, 0) 80%);
}

.time {
  color: #8c8c8c;
}

.sender {
  color: #333333;
}

.sender:before {
  color: #323232;
}

.message {
  color: #5c5c5c;
}

.myself .sender {
  color: #70bb72;
}
.myself .sender:before {
  color: #007600;
}
.myself.privmsg .message {
  color: #00960f;
}
.myself.notice .message {
  color: rgba(0, 150, 15, 0.66);
}

.icon {
  border-color: #dddddd;
}

.url {
  color: #6aa900;
}

#topic-bar {
  border-bottom-color: #dddddd;
  background-color: #eeeeee;
  color: #505050;
}
#topic-bar .url {
  color: #505050;
}

.time {
  float: right;
  font-size: 12px;
  visibility: hidden;
}

.sender {
  line-height: 1.2;
  font-size: 13px;
  vertical-align: top;
}
.sender[first=false] {
  display: none;
}
.sender:before {
  font-size: 18px;
}

.message {
  display: block;
}

.line.first {
  margin-top: 12px;
  padding-top: 13px;
}
.line.first:before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  content: "";
}
.line.first .sender {
  display: inline-block;
}
.line.first .sender:before {
  display: block;
  content: attr(data-name);
}

.icon {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-right: 10px;
  margin-bottom: 8px;
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url('data:image/gif;base64,R0lGODlhQABAAPEBAISEhAAAAP///wAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQFCgABACwLABsAKwALAAACMgyOGMuW2diD88UKG95W88uF4DaGWFmhZid93pq+pwxnLUnXh8ou+sSz+T64ICAyTBUAACH5BAUKAAAALAsAGwALAAsAAAIMRI5oye0Po5yULgcKACH5BAUKAAIALAsAGwAbAAsAAAIrFI4oyxIPoUkUNBdzqPTqzCXeB4VKQ5amhabbOqYry7ivGZNz/k3ctUgJCgAh+QQFCgACACwbABsAGwALAAACKxSOKMsSD6FJFDQXc6j06swl3geFSkOWpoWm2zqmK8u4rxmTc/5N3LVICQoAOw==');
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
  vertical-align: top;
}
.icon.notfound {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAABIBAMAAACnw650AAAAFVBMVEX///8AAADAwMCAgID/AADx7+KdnaFGcsumAAAAAXRSTlMAQObYZgAAAFxJREFUeF7t0bENwDAIBVFW8ApeISt4Ba+Q/UeISApEQZToKlv/JLpXILD9O+vmT2RlayChI4WQRb29IaExfDi6lRuMHmUAoZ34nfhbhHrEUEsRlFsCCc26j2j7LhSBcMNVtm00AAAAAElFTkSuQmCC');
}

.inlineimage {
  position: relative;
  max-height: 256px;
  border-radius: 8px;
}

.effect[color-number] {
  color: inherit;
  background-color: inherit;
  font-style: italic;
}

.event .message {
  display: inline;
}
